body {
  background-color: #121212;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #eee;
}

form {
  background-color: #1e1e1e;
  padding: 25px;
  width: 350px;
  margin: 60px auto;
  border-radius: 10px;
  box-shadow: 0 0 15px #00ffcc;
}

label {
  font-weight: 600;
  display: block;
  margin-bottom: 10px;
  color: #00ffcc;
}

select, button {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 6px;
  border: 1px solid #00ffcc;
  background-color: #222;
  color: #00ffcc;
  font-size: 18px;
}

button {
  background-color: #00ffcc;
  color: #121212;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #00ccaa;
}
